.cart-button {
  padding: 1.5rem 3rem;
  background-color: aliceblue;
  border-radius: 10rem;
  border: none;
  display: flex;
  cursor: pointer;
}
.cart-button svg {
  width: 3rem;
  height: 3rem;
}

.items-count {
  font-size: 2rem;
  display: inline-block;
  background-color: crimson;
  width: 3rem;
  height: 3rem;
  color: #fff;
  padding: 3px;
  border-radius: 50%;
  margin-left: 2rem;
}

.scaling {
  animation: scaling 300ms;
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.05);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
